body {
    padding: 0;
    margin: 0;
    border: 1px solid #2d313c;
    background-color: #12141a;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

table {
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #2d313c;
}

th, td {
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: #161820;
}

tr:nth-child(even) {
    background-color: #1d2028;
}

th {
    background-color: #1d2028;
}

.title-card {
    background-color: #1d2028;
    color: #fff;
    border: 1px solid #2d313c;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 85%;
    padding: 10px;
    margin: 10px auto;
}

.little-title-card {
    background-color: #1d2028;
    color: #fff;
    border: 1px solid #2d313c;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%;
    padding: 10px;
    margin: 10px auto;
}

a {
    color: rgb(233, 106, 106);
}

a:hover {
    color: rgb(222, 55, 55);
    text-decoration: none;
}

.navbar {
    display: flex;
    position: sticky;
    top: 1%;
    margin: 0 auto; /* Center */
    max-width: auto;
    background-color: #1d2028;
    border: 1px solid rgb(233, 106, 106);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link {
    color: rgb(233, 106, 106);
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    order: 1;
}

.footer {
    background-color: #1d2028;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgb(233, 106, 106);
}

#content {
	display: flex;
	flex-direction: column;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.d-flex.justify-content-center{
	gap: 10px;
}



@media only screen and (max-width: 600px) {
    .nav-link#play-link {
        order: 0;
        flex-basis: 100%;
        text-align: center;
    }
}