body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 44, 44);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-card {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 85%;
    padding: 10px;
    margin: 10px;
}

.little-title-card {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%;
    padding: 10px;
    margin: 10px;
}

a {
    color: rgb(233, 106, 106);
}

a:hover {
    color: rgb(222, 55, 55);
}

.navbar {
    position: sticky;
	max-width: max-content;
    top: 1%;
    left: 1%;
	justify-content: space-between;
	margin-bottom: 1em;
    background-color: #333;
    border: 1px solid rgb(233, 106, 106);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgb(233, 106, 106);
}

#content {
	display: flex;
	flex-direction: column;
    flex: 1;
}

.d-flex.justify-content-center{
	gap: 10px;
}