# Just Django
Django==4.2

# Dependences for PostgreSQL
psycopg2==2.8.6

# WebSocket + dependences
channels==4.1.0
channels_redis==4.0.0
uvicorn[standard]==0.23.1

# static for uvicorn
whitenoise==6.5.0