{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'style/style.css' %}" rel="stylesheet">
  <title>Transcendence</title>
</head>
<body>

  <nav>
    <a href="/home" class="link" id="home-link">Home</a>
    <a href="/scoreboard" class="link" id="scoreboard-link">Scoreboard</a>
    <a href="/community" class="link" id="community-link">Community</a>
    <a href="/profile" class="link" id="profile-link">Profile</a>
    <a href="/login" class="link" id="login-link">Login</a>
    <a href="/register" class="link" id="register-link">Register</a>
  </nav>

  <div id="content"></div>

  <footer>
    <h3>About Us</h3>
    <p>
      We are a team of five developers working on our final project of the common curriculum at 42, called <b>Transcendence</b>.<br>
      Our goal is to create an engaging platform that enhances user interaction.
    </p>
    <h5>Follow Us</h5>
    <ul class="list-unstyled">
      <li><a href="https://github.com/mvpee" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"> MVPee</i></a></li>
      <li><a href="https://github.com/dspilleb" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"> dspilleb</i></a></li>
      <li><a href="https://github.com/llapage" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"> llapage</i></a></li>
      <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"> declerbo</i></a></li>
    </ul>
  </footer>

  <script src="{% static 'js/websocket.js' %}"></script>
  <script src="{% static 'js/router.js' %}"></script>
  <script src="{% static 'js/style.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
</body>
</html>