{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style/style.css' %}" rel="stylesheet">
  <title>Transcendence</title>
</head>
<body>

  <nav>
    <a href="/home" class="link" id="home-link">Home</a>
    <a href="/profile" class="link" id="profile-link">Profile</a>
    <a href="/login" class="link" id="login-link">Login</a>
    <a href="/register" class="link" id="register-link">Register</a>
    <a href="/logout" class="link" id="logout-link">Logout</a>
  </nav>

  <div id="error" class="text-danger"></div>

  <div id="content">
    content here
  </div>

  <script src="{% static 'js/router.js' %}"></script>
  <script src="{% static 'js/style.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
</body>
</html>