{% load static %}

{% if friend.user1.username == request.user.username %}
	<h2>Chat with <a class="link" href="/profile?profile={{ friend.user2.username }}">{{ friend.user2.username }}</a></h2>
{% else %}
	<h2>Chat with <a class="link" href="/profile?profile={{ friend.user1.username }}">{{ friend.user1.username }}</a></h2>
{% endif %}

<div id="chat-text"> </div>
<br>
<input id="input" type="text" size="100" maxlength="100" minlength="1" placeholder="Write a message...">
<br>
<input id="submit" type="button" class="btn btn-info" value="Send">
<button onclick="Send1v1()" class="btn btn-success">1v1 Request</button>

<script>
	function render_message(sender, context) {
		const div = document.createElement('div');
		div.className = sender === '{{ user.username }}' ? "message_sender" : "message_receiver";
		if (context === '1v1')
		{
			div.innerHTML= `${sender}: <a class="link" style="color:red;" href="/waiting/private/{{ friend.id }}"><b>1v1</b></a>`;
		}
		else
		{
			const p = document.createElement('p'); //sanitize XSS
			const tempElement = document.createElement("textarea"); //clean the output
			tempElement.innerHTML = `${sender}: ${context}`;
			p.innerText = tempElement.value;
			div.appendChild(p);
		}
		document.querySelector('#chat-text').appendChild(div);
		scrollToBottom();
	}
	{% for message in messages %}
		render_message('{{ message.sender_id.username }}', '{{ message.context }}')
	{% endfor %}
</script>