{% load static %}

{% if friend.user1.username == request.user.username %}
	<h2>Chat with <a class="link" href="/profile?profile={{ friend.user2.username }}">{{ friend.user2.username }}</a></h2>
{% else %}
	<h2>Chat with <a class="link" href="/profile?profile={{ friend.user1.username }}">{{ friend.user1.username }}</a></h2>
{% endif %}

<div id="chat-text"> </div>
<br>
<input id="input" type="text" size="100" maxlength="100">
<br>
<input id="submit" type="button" class="btn btn-info" value="Send">
<button onclick="Send1v1()" class="btn btn-success">1v1 Request</button>

<script>
	function render_message(sender, context) {
		const div = document.createElement('div');
		div.className = sender === '{{ request.user.username }}' ? "message_sender" : "message_receiver";
		if (context === '1v1')
			div.innerHTML = `<p>${sender}: <a class="link" style="color:red;" href="/waiting/private/{{ friend.id }}"><b>1v1</b></a></p>`;
		else
			div.innerHTML = `<p>${sender}: ${context}</p>`;
		document.querySelector('#chat-text').appendChild(div);
		scrollToBottom();
	}
	{% for message in messages %}
		render_message('{{ message.sender_id.username }}', '{{ message.context }}')
	{% endfor %}
</script>

{{ request.user.username|json_script:"sender_username" }}