<div class="d-flex justify-content-center">
  <h2 class="title-card">Community</h2>
</div>

<div class="d-flex justify-content-center">
  {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
  {% endif %}

  {% if success_message %}
    <p style="color: green;">{{ success_message }}</p>
  {% endif %}
</div>

<div class="d-flex justify-content-center">
  <h3 class="little-title-card">Friends</h3>
</div>

<div class="d-flex flex-column justify-content-center">
  {% if all_friends %}
    {% for friend in all_friends %}
      {% if friend.user1.id == request.user.id %}
        <p class="text-center">
          {{ friend.user2.username }}
          <a href="/profile?profile={{ friend.user2.username }}" onclick="loadContent(event, 'profile?profile={{ friend.user2.username }}');"> Profile </a>
          <a href="/chat/{{ friend.id }}" onclick="loadContent(event, 'chat/{{ friend.id }}');"> Chat </a>
        </p>
      {% else %}
        <p class="text-center">
          {{ friend.user1.username }}
          <a href="/profile?profile={{ friend.user1.username }}" onclick="loadContent(event, 'profile?profile={{ friend.user1.username }}');"> Profile </a>
          <a href="/chat/{{ friend.id }}" onclick="loadContent(event, 'chat/{{ friend.id }}');"> Chat </a>
        </p>
      {% endif %}
    {% endfor %}
  {% else %}
    <p class="text-center">No friend</p>
  {% endif %}
</div>

<div class="d-flex justify-content-center">
  <h3 class="little-title-card">Pending Friend Requests</h3>
</div>

<div class="d-flex flex-column justify-content-center">
  {% if all_pendings %}
    {% for pending in all_pendings %}
      <div class="d-flex justify-content-center">
        <p>
            {{ pending.user1.username }}
            <a href="/profile?profile={{ pending.user1.username }}" onclick="loadContent(event, 'profile?profile={{ pending.user1.username }}');">Profile</a>
        </p>
        <form action="/api/friend/" method="post" class="d-inline">
          {% csrf_token %}
          <input type="hidden" name="profile" value="{{ pending.user1.username }}">
          <input type="hidden" name="type" value="add">
          <button type="submit" class="btn btn-outline-success btn-sm ms-2">Accept</button>
        </form>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center">No pending friend requests</p>
  {% endif %}
</div>

<div class="d-flex justify-content-center">
  <h3 class="little-title-card">Players list</h3>
</div>

<div class="d-flex justify-content-center">
  <form action="/ssr/view/community/" method="post">
    {% csrf_token %}
    <input type="text" name="query" placeholder="Search..">
    <button type="submit" class="btn btn-outline-info"><i class="bi bi-search"></i></button>
  </form>
</div>

{% if all_users %}
  {% for user in all_users %}
      <p class="text-center">{{ user.username }} <a href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}')"> Profile </a></p>
  {% endfor %}
{% else %}
  <p class="text-center">No result</p>
{% endif %}