{% load static %}

<div class="game-banner d-flex align-items-center justify-content-center mb-3 p-2">
    <div class="player-info d-flex align-items-center">
        <img src="{{ matchs.user1.avatar.url }}" class="avatar mr-2" alt="avatar-player1">
        <span class="player-name">{{ matchs.user1.username }}</span>
    </div>
    <div class="vs-text mx-4">VS</div>
    <div class="player-info d-flex align-items-center">
        <span class="player-name">{{ matchs.user2.username }}</span>
        <img src="{{ matchs.user2.avatar.url }}" class="avatar ml-2" alt="avatar-player2">
    </div>
</div>

<div class="position-relative mx-auto" style="width: 600px; height: 400px;">
    <canvas id="game-canvas" width="600" height="400"></canvas>
    <div id="ball"></div>
    <div id="paddle1" class="paddle"></div>
    <div id="paddle2" class="paddle"></div>
    <div id="countdown"></div>
    <div id="score-1">0</div>
    <div id="score-2">0</div>
</div>

<div class="button-container text-center">
    <button id="phone-up" class="btn btn-success p-2 m-2">Up</button>
    <button id="phone-down" class="btn btn-success p-2 m-2">Down</button>
</div>

<p id="info" class="text-center mt-5"></p>

<style>
    #game-canvas {
        background-color: #141414;
        border: 2px solid #fff;
    }

    .paddle {
        width: 10px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        top: 160px;
    }

    #paddle1 {
        left: 30px;
    }

    #paddle2 {
        right: 30px;
    }

    #ball {
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        right: 295px;
        top: 195px;
    }

    #countdown {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        font-size: 24px;
        color: yellow;
        font-weight: bold;
    }

    #score-1, #score-2 {
        position: absolute;
        top: 10px;
        font-size: 24px;
        color: yellow;
        font-weight: bold;
    }

    #score-1 {
        left: 10px;
    }

    #score-2 {
        right: 10px;
    }

    .game-banner {
        background-color: #333;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .player-info {
        display: flex;
        align-items: center;
    }

    .player-name {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c7c7c7;
    }

    .vs-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff5733;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

</style>

<script>
    const phoneUp = document.getElementById("phone-up");
    const phoneDown = document.getElementById("phone-down");

    function handlePhoneButton(direction) {
        if (currentDirection === direction) return;

        currentDirection = direction;

        if (moveInterval) clearInterval(moveInterval);

        if (currentDirection) {
            moveInterval = setInterval(() => {
                if (ws && ws.readyState === WebSocket.OPEN) {
                    ws.send(
                        JSON.stringify({
                            type: "movement",
                            direction: currentDirection,
                        })
                    );
                }
            }, 10);
        }
    }

    function stopMovement() {
        if (moveInterval) {
            clearInterval(moveInterval);
            moveInterval = null;
            currentDirection = null;
        }
    }

    phoneUp.addEventListener("mousedown", () => handlePhoneButton('up'));
    phoneDown.addEventListener("mousedown", () => handlePhoneButton('down'));
    phoneUp.addEventListener("mouseup", stopMovement);
    phoneDown.addEventListener("mouseup", stopMovement);

    phoneUp.addEventListener("touchstart", () => handlePhoneButton('up'));
    phoneDown.addEventListener("touchstart", () => handlePhoneButton('down'));
    phoneUp.addEventListener("touchend", stopMovement);
    phoneDown.addEventListener("touchend", stopMovement);
</script>