<div class="d-flex justify-content-center mb-3">
  <h2 class="little-title-card">Login</h2>
</div>

<div class="d-flex justify-content-center">
  {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
  {% endif %}

  {% if success_message %}
    <p style="color: green;">{{ success_message }}</p>
  {% endif %}
</div>

<div class="d-flex justify-content-center">
  <p style="color: green;" class="success_message"></p>
  <p style="color: red;" class="error_message"></p>
</div>

<div class="d-flex justify-content-center">
  <form id="login-form" action="/api/login/" method="POST" class="form-card">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-input" required>
    </div>
    <button type="submit" class="btn-submit">Login</button>
    <p class="redirect-text text-center">
      Don't have an account? <a href="/register" onclick="loadContent(event, 'register')">Register here</a>.
    </p>
  </form>
</div>
