{% load static %}

<div class="d-flex justify-content-center">
    <h2 class="title-card">Choose a game</h2>
</div>

<div class="d-flex justify-content-center">
	<img src="{% static 'favicon.ico' %}" alt="favicon" width="20%" height="auto">
</div>

<div class="d-flex justify-content-center">
	{% if error_message %}
	<p style="color: red;">{{ error_message }}</p>
	{% endif %}

	{% if success_message %}
	<p style="color: green;">{{ success_message }}</p>
	{% endif %}
</div>

<div class="d-flex justify-content-center">
    <h4 class="little-title-card">Pong</h4>
</div>

<div class="d-flex justify-content-center p-4">
	<a href="/waiting/pong/1v1" onclick="loadContent('waiting/pong/1v1')" class="btn btn-outline-success">1v1 Match Queue</a>
	<a href="/waiting/pong/2v2" onclick="loadContent('waiting/pong/2v2')" class="btn btn-outline-info">2v2 Match Queue</a>
	<a href="/waiting/pong/AI" onclick="loadContent('waiting/pong/AI')" class="btn btn-outline-danger">AI Match Queue</a>
	<a href="/waiting/pong/tournament" onclick="loadContent('waiting/pong/tournament')" class="btn btn-outline-warning">Tournament Queue</a>
</div>

<div class="d-flex justify-content-center">
	<h4 class="little-title-card">Puissance4</h4>
</div>

<div class="d-flex justify-content-center p-4">
	<a href="/waiting/puissance4/1v1" onclick="loadContent('waiting/puissance4/1v1')" class="btn btn-outline-success">1v1 Match Queue</a>
</div>