<h1>Play</h1>

{% if error_message %}
  <p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if success_message %}
  <p style="color: green;">{{ success_message }}</p>
{% endif %}

<h2>Pong Game</h2>
<a href="/waiting/pong/1v1" class="link btn btn-success">1v1 Match Queue</a>
<a href="/waiting/pong/2v2" class="link btn btn-info disabled ">2v2 Match Queue</a>
<a href="/waiting/pong/AI" class="link btn btn-danger">AI Match Queue</a>

<h2>SHI FU MI</h2>
<a href="/waiting/shifumi/1v1" class="link btn btn-success disabled">1v1 Match Queue</a>
<a href="/waiting/shifumi/AI" class="link btn btn-danger disabled ">AI Match Queue</a>