<h1 class="subheader">
	Choose your game
</h1>

{% if error_message %}
  <p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if success_message %}
  <p style="color: green;">{{ success_message }}</p>
{% endif %}

<br></br>

<h2 class="container pong-box">
	Pong Game
	<br></br>
	<a href="/waiting/pong/1v1" class="link btn btn-success">1v1 Match Queue</a>
	<a href="/waiting/pong/2v2" class="link btn btn-info">2v2 Match Queue</a>
	<a href="/waiting/pong/AI" class="link btn btn-danger">AI Match Queue</a>
	<a href="/waiting/pong/tournament" class="link btn btn-warning">Tournament Queue</a>
</h2>

<br></br>

<h2 class="container puissance4-box">
	Puissance 4
	<br></br>
	<a href="/waiting/puissance4/1v1" class="link btn btn-success">1v1 Match Queue</a>
</h2>
