<div class="vs-card title-card d-flex align-items-center justify-content-center mb-3 p-2">
    <div class="player-info d-flex align-items-center">
        <img src="{{ matchs.user1.avatar.url }}" class="avatar mr-2" alt="avatar-player1">
        <span class="player-name">{{ matchs.user1.username }}</span>
    </div>
    <div class="vs-text mx-4">VS</div>
    <div class="player-info d-flex align-items-center">
        <span class="player-name">{{ matchs.user2.username }}</span>
        <img src="{{ matchs.user2.avatar.url }}" class="avatar ml-2" alt="avatar-player2">
    </div>
</div>

<div class="position-relative mx-auto" style="width: 600px; height: 400px;">
    <canvas id="game-canvas" width="600" height="400"></canvas>
    <div id="ball"></div>
    <div id="paddle1" class="paddle"></div>
    <div id="paddle2" class="paddle"></div>
    <div id="countdown"></div>
    <div class="phone-rotate" id="score-1">0</div>
    <div class="phone-rotate" id="score-2">0</div>
</div>

<div class="button-container text-center">
    <button id="phone-down" class="btn btn-outline-success">Down</button>
    <button id="phone-up" class="btn btn-outline-success">Up</button>
</div>

<p id="info" class="text-center mt-5"></p>

<style>
    #game-canvas {
        background-color: #141414;
        border: 2px solid #fff;
    }

    .paddle {
        width: 10px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        top: 160px;
    }

    #paddle1 {
        left: 30px;
    }

    #paddle2 {
        right: 30px;
    }

    #ball {
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        right: 295px;
        top: 195px;
    }

    #countdown {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        font-size: 24px;
        color: yellow;
        font-weight: bold;
    }

    #score-1, #score-2 {
        position: absolute;
        top: 10px;
        font-size: 24px;
        color: yellow;
        font-weight: bold;
    }

    #score-1 {
        left: 10px;
    }

    #score-2 {
        right: 10px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .player-info {
        display: flex;
        align-items: center;
    }

    .player-name {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c7c7c7;
    }

    .vs-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff5733;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .button-container>.btn {
        margin: 0 auto;
        width: 40%;
        padding: 20px;
        max-width: 150px;
    }

    @media only screen and (max-width: 625px) {
        .vs-card {
            display: flex;
            flex-direction: column;
        }

        .position-relative {
            margin: 0 auto;
            position: relative;
            top: 300px;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .button-container {
            margin-top: 220px;
            flex-direction:row;
        }

        .phone-rotate {
            transform: rotate(90deg);
        }
    }

</style>

<script>
    phoneUp = document.getElementById("phone-up");
    phoneDown = document.getElementById("phone-down");

    phoneUp.addEventListener("mousedown", () => handlePhoneButton('up'));
    phoneDown.addEventListener("mousedown", () => handlePhoneButton('down'));
    phoneUp.addEventListener("mouseup", stopMovement);
    phoneDown.addEventListener("mouseup", stopMovement);

    phoneUp.addEventListener("touchstart", () => handlePhoneButton('up'));
    phoneDown.addEventListener("touchstart", () => handlePhoneButton('down'));
    phoneUp.addEventListener("touchend", stopMovement);
    phoneDown.addEventListener("touchend", stopMovement);
</script>