{% load static %}

{% if user.avatar %}
	{% if user.username == request.user.username %}
		<h2><img src="{{ user.avatar.url }}" alt="User Avatar" width="50" height="50"/>My Profile</h2>
		{% else %}
		<h2><img src="{{ user.avatar.url }}" alt="User Avatar" width="50" height="50"/>{{ user.username }}'s profile</h2>
	{% endif %}
{% else %}
	{% if user.username == request.user.username %}
		<h2><img src="/media/avatars/profile.png" alt="User Avatar" width="50" height="50"/>My Profile</h2>
	{% else %}
		<h2><img src="/media/avatars/profile.png" alt="User Avatar" width="50" height="50"/>{{ user.username }}'s profile</h2>
	{% endif %}
{% endif %}

{% if user_status %}
	<p>{{ user_status }}</p>
{% endif %}

{% if error_message %}
	<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if success_message %}
	<p style="color: green;">{{ success_message }}</p>
{% endif %}

{% if friend %}
	<a href="/chat/{{ friend.id }}" class="link btn btn-info">Chat</a>
{% endif %}

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Elo:</strong> {{ user.elo }}</p>
{% if user.username != 'AI.'%}
	<p><strong>Joined on:</strong> {{ user.created_at|date:"F j, Y" }}</p>
{% endif %}

{% if user.username != 'AI.' %}

	{% if user.username == request.user.username %}
		<form action="/ssr/logout/" method="post" id="logout-link">
			{% csrf_token %}
			<button type="submit">logout</button>
		</form>

	{% else %}

		{% if not blocked %}
			{% if not friend %}
				<form action="/ssr/friend/" method="post">
					{% csrf_token %}
					<input type="hidden" name="profile" value="{{ user.username }}">
					{% if friend_request %}
						<input type="hidden" name="type" value="remove">
						<button type="submit" class="btn btn-warning">Cancel friend request</button>
					{% else %}
						<input type="hidden" name="type" value="add">
						<button type="submit" class="btn btn-success">Friend Request</button>
					{% endif %}
				</form>
			{% else %}
				<form action="/ssr/friend/" method="post">
					{% csrf_token %}
					<input type="hidden" name="type" value="remove">
					<input type="hidden" name="profile" value="{{ user.username }}">
						<button type="submit" class="btn btn-danger">Friend Remove</button>
				</form>
			{% endif %}
		{% endif %}


		{% if not blocked %}
			{% if not friend %}
				<form action="/ssr/block/" method="post">
					{% csrf_token %}
					<input type="hidden" name="type" value="add">
					<input type="hidden" name="profile" value="{{ user.username }}">
					<button type="submit" class="btn btn-danger">Block Request</button>
				</form>
			{% endif %}
		{% else %}
			<form action="/ssr/block/" method="post">
				{% csrf_token %}
				<input type="hidden" name="type" value="remove">
				<input type="hidden" name="profile" value="{{ user.username }}">
				<button type="submit" class="btn btn-info">Unblock Request</button>
			</form>
		{% endif %}

	{% endif %}
{% endif %}

<h2>Statistics</h2>

{% if user.username != 'AI.'%}
	<button class="btn btn-info" onclick="displayStats('pong-1v1')">Pong 1v1 Stats</button>
	<button class="btn btn-success" onclick="displayStats('pong-2v2')">Pong 2v2 Stats</button>
	<button class="btn btn-warning" onclick="displayStats('pong-ai')">Pong 1vAi Stats</button>
	<button class="btn btn-danger" onclick="displayStats('puissance4-1v1')">Puissance4 Stats</button>

	<div class="Statistics" id="pong-1v1" style="display: block;">
		<h3>Pong 1v1</h3>
		<p>Win: {{ pong.1v1.win }}</p>
		<p>Defeat: {{ pong.1v1.defeat }}</p>
		<p>Winrate: {{ pong.1v1.winrate }}%</p>
		<h4>Match history</h4>
		{% if pong.1v1.matchs %}
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Winner</th>
						<th>Match Date</th>
						<th>Players</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for match in pong.1v1.matchs%}
						<tr>
							<td>
								{% if match.user1_score > match.user2_score %}
									<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
								{% else %}
									<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
								{% endif %}
							</td>
							<td>{{ match.created_at|date:"F j, Y, g:i a" }}</td>
							<td>
								{% if match.user1 %}
									<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
								{% else %}
									Deleted User
								{% endif %}
								<b>VS</b>
								{% if match.user2 %}
									<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
								{% else %}
									Deleted User
								{% endif %}
							</td>
							<td>{{ match.user1_score }} - {{ match.user2_score }}</td>
						</tr>
					{% endfor%}
				</tbody>
			</table>
		{% else %}
			<p>No data available</p>
		{% endif %}
	</div>

	<div class="Statistics" id="pong-2v2" style="display: none;">
		<h3>Pong 2v2</h3>
		<p>Win: {{ pong.2v2.win }}</p>
		<p>Defeat: {{ pong.2v2.defeat }}</p>
		<p>Winrate: {{ pong.2v2.winrate }}%</p>
		<h4>Match history</h4>
		{% if pong.2v2.matchs %}
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Winner</th>
						<th>Match Date</th>
						<th>Players</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for match in pong.2v2.matchs %}
						<tr>
							<td>
								{% if match.team1_score > match.team2_score %}
									<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
									<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
								{% else %}
									<a href="/profile?profile={{ match.user3.username }}" class="link">{{ match.user3.username }}</a>
									<a href="/profile?profile={{ match.user4.username }}" class="link">{{ match.user4.username }}</a>
								{% endif %}
							</td>
							<td>{{ match.created_at|date:"F j, Y, g:i a" }}</td>
							<td>
								{% if match.user1 and match.user2 %}
									<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
									<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
								{% else %}
									Deleted User
								{% endif %}
								<b>VS</b>
								{% if match.user3 and match.user4 %}
									<a href="/profile?profile={{ match.user3.username }}" class="link">{{ match.user3.username }}</a>
									<a href="/profile?profile={{ match.user4.username }}" class="link">{{ match.user4.username }}</a>
								{% else %}
									Deleted User
								{% endif %}
							</td>
							<td>{{ match.team1_score }} - {{ match.team2_score }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>No match history available.</p>
		{% endif %}
	</div>
{% endif %}

{% if user.username != 'AI.'%}
	<div class="Statistics" id="pong-ai" style="display: none;">
{% else %}
	<div class="Statistics" id="pong-ai" style="display: block;">
{% endif %}
	{% if user.username != 'AI.'%}
		<h3>Pong 1vAi</h3>
	{% endif %}
	<p>Win: {{ pong.ai.win }}</p>
	<p>Defeat: {{ pong.ai.defeat }}</p>
	<p>Winrate: {{ pong.ai.winrate }}%</p>
	<h4>Match history</h4>
	{% if pong.ai.matchs %}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Winner</th>
					<th>Match Date</th>
					<th>Players</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% for match in pong.ai.matchs%}
					<tr>
						<td>
							{% if match.user1_score > match.user2_score %}
								<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
							{% else %}
								<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
							{% endif %}
						</td>
						<td>{{ match.created_at|date:"F j, Y, g:i a" }}</td>
						<td>
							{% if match.user1 %}
								<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
							{% else %}
								Deleted User
							{% endif %}
							<b>VS</b>
							{% if match.user2 %}
								<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
							{% else %}
								Deleted User
							{% endif %}
						</td>
						<td>{{ match.user1_score }} - {{ match.user2_score }}</td>
					</tr>
				{% endfor%}
			</tbody>
		</table>
	{% else %}
		<p>No data available</p>
	{% endif %}
</div>

{% if user.username != 'AI.'%}
	<div class="Statistics" id="puissance4-1v1" style="display: none;">
		<h3>Puissance4 1v1</h3>
		<p>Win: {{ puissance4.1v1.win }}</p>
		<p>Defeat: {{ puissance4.1v1.defeat }}</p>
		<p>Winrate: {{ puissance4.1v1.winrate }}%</p>
		<h4>Match history</h4>
		{% if puissance4.1v1.matchs %}
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Winner</th>
						<th>Match Date</th>
						<th>Players</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for match in puissance4.1v1.matchs%}
						<tr>
							<td>
								{% if match.user1_score > match.user2_score %}
									<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
								{% else %}
									<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
								{% endif %}
							</td>
							<td>{{ match.created_at|date:"F j, Y, g:i a" }}</td>
							<td>
								{% if match.user1 %}
									<a href="/profile?profile={{ match.user1.username }}" class="link">{{ match.user1.username }}</a>
								{% else %}
									Deleted User
								{% endif %}
								<b>VS</b>
								{% if match.user2 %}
									<a href="/profile?profile={{ match.user2.username }}" class="link">{{ match.user2.username }}</a>
								{% else %}
									Deleted User
								{% endif %}
							</td>
							<td>{{ match.user1_score }} - {{ match.user2_score }}</td>
						</tr>
					{% endfor%}
				</tbody>
			</table>
		{% else %}
			<p>No data available</p>
		{% endif %}
	</div>
{% endif %}

<script src="{% static 'js/profile.js' %}"></script>