{% load static %}

{% if user.username == request.user.username %}
	<h2>My Profile</h2>
{% else %}
	<h2>{{ user.username }}'s profile</h2>
{% endif %}

{% if error_message %}
	<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if success_message %}
	<p style="color: green;">{{ success_message }}</p>
{% endif %}

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Elo:</strong> {{ user.elo }}</p>
<p><strong>Wins:</strong> {{ user.win }}</p>
<p><strong>Defeats:</strong> {{ user.defeat }}</p>
<p><strong>Joined on:</strong> {{ user.created_at|date:"F j, Y" }}</p>

{% if user.username == request.user.username %}
  	<form action="/ssr/logout/" method="post" id="logout-link">
    	{% csrf_token %}
    	<button type="submit">logout</button>
	</form>

{% else %}

	{% if not blocked %}
		{% if not friend %}
			<form action="/ssr/friend/" method="post">
				{% csrf_token %}
				<input type="hidden" name="profile" value="{{ user.username }}">
				{% if friend_request %}
					<input type="hidden" name="type" value="remove">
					<button type="submit" class="btn btn-warning">Cancel friend request</button>
				{% else %}
					<input type="hidden" name="type" value="add">
					<button type="submit" class="btn btn-success">Friend Request</button>
				{% endif %}
			</form>
		{% else %}
			<form action="/ssr/friend/" method="post">
				{% csrf_token %}
				<input type="hidden" name="type" value="remove">
				<input type="hidden" name="profile" value="{{ user.username }}">
					<button type="submit" class="btn btn-danger">Friend Remove</button>
			</form>
		{% endif %}
	{% endif %}


	{% if not blocked %}
		{% if not friend %}
			<form action="/ssr/block/" method="post">
				{% csrf_token %}
				<input type="hidden" name="type" value="add">
				<input type="hidden" name="profile" value="{{ user.username }}">
				<button type="submit" class="btn btn-danger">Block Request</button>
			</form>
		{% endif %}
	{% else %}
		<form action="/ssr/block/" method="post">
			{% csrf_token %}
			<input type="hidden" name="type" value="remove">
			<input type="hidden" name="profile" value="{{ user.username }}">
			<button type="submit" class="btn btn-info">Unblock Request</button>
		</form>
	{% endif %}

{% endif %}

<h3>Match History</h3>
<p>loading ...</p>
