<div class="vs-card title-card d-flex align-items-center justify-content-center">
    <div class="player-info d-flex align-items-center">
        <img src="{{ matchs.user1.avatar.url }}" class="avatar mr-2" alt="avatar-player1">
        <span class="player-name">{{ matchs.user1.username }}</span>
        <span id="player-yellow-color" class="mx-3"></span>
    </div>
    <div class="vs-text mx-4">VS</div>
    <div class="player-info d-flex align-items-center">
        <span id="player-red-color" class="mx-3"></span>
        <span class="player-name">{{ matchs.user2.username }}</span>
        <img src="{{ matchs.user2.avatar.url }}" class="avatar ml-2" alt="avatar-player2">
    </div>
</div>

<p id="info" class="text-center mt-2">First player to have a four in a row win.</p>

<div class="board-container">
    <table>
        <tbody>
            <tr>
                <td onclick="ws.send(0);" id="0-0"></td>
                <td onclick="ws.send(1);" id="0-1"></td>
                <td onclick="ws.send(2);" id="0-2"></td>
                <td onclick="ws.send(3);" id="0-3"></td>
                <td onclick="ws.send(4);" id="0-4"></td>
                <td onclick="ws.send(5);" id="0-5"></td>
                <td onclick="ws.send(6);" id="0-6"></td>
            </tr>
            <tr>
                <td onclick="ws.send(0);" id="1-0"></td>
                <td onclick="ws.send(1);" id="1-1"></td>
                <td onclick="ws.send(2);" id="1-2"></td>
                <td onclick="ws.send(3);" id="1-3"></td>
                <td onclick="ws.send(4);" id="1-4"></td>
                <td onclick="ws.send(5);" id="1-5"></td>
                <td onclick="ws.send(6);" id="1-6"></td>
            </tr>
            <tr>
                <td onclick="ws.send(0);" id="2-0"></td>
                <td onclick="ws.send(1);" id="2-1"></td>
                <td onclick="ws.send(2);" id="2-2"></td>
                <td onclick="ws.send(3);" id="2-3"></td>
                <td onclick="ws.send(4);" id="2-4"></td>
                <td onclick="ws.send(5);" id="2-5"></td>
                <td onclick="ws.send(6);" id="2-6"></td>
            </tr>
            <tr>
                <td onclick="ws.send(0);" id="3-0"></td>
                <td onclick="ws.send(1);" id="3-1"></td>
                <td onclick="ws.send(2);" id="3-2"></td>
                <td onclick="ws.send(3);" id="3-3"></td>
                <td onclick="ws.send(4);" id="3-4"></td>
                <td onclick="ws.send(5);" id="3-5"></td>
                <td onclick="ws.send(6);" id="3-6"></td>
            </tr>
            <tr>
                <td onclick="ws.send(0);" id="4-0"></td>
                <td onclick="ws.send(1);" id="4-1"></td>
                <td onclick="ws.send(2);" id="4-2"></td>
                <td onclick="ws.send(3);" id="4-3"></td>
                <td onclick="ws.send(4);" id="4-4"></td>
                <td onclick="ws.send(5);" id="4-5"></td>
                <td onclick="ws.send(6);" id="4-6"></td>
            </tr>
            <tr>
                <td onclick="ws.send(0);" id="5-0"></td>
                <td onclick="ws.send(1);" id="5-1"></td>
                <td onclick="ws.send(2);" id="5-2"></td>
                <td onclick="ws.send(3);" id="5-3"></td>
                <td onclick="ws.send(4);" id="5-4"></td>
                <td onclick="ws.send(5);" id="5-5"></td>
                <td onclick="ws.send(6);" id="5-6"></td>
            </tr>
        </tbody>
    </table>
</div>

<p id="turn" class="text-center mt-3">Yellow turn.</p>

<style>
    .board-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    td {
        height: 12vh;
        width: 12vh;
        
        background-color: gray;
        align-items: center;
        border-radius: 100px;
        border: 1px solid transparent;
    }

    @media (max-width: 1000px) {
        td {
            height: 12vw;
            width: 12vw;
        }
    }

    @media only screen and (max-width: 600px) {
        .vs-card {
            display: flex;
            flex-direction: column;
        }
    }

    #player-yellow-color {
        height: 40px;
        width: 40px;
        background-color: yellow;
        border: 1px solid transparent;
        border-radius: 100px;
    }
    #player-red-color {
        height: 40px;
        width: 40px;
        background-color: red;
        border: 1px solid transparent;
        border-radius: 100px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .player-info {
        display: flex;
        align-items: center;
    }

    .player-name {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c7c7c7;
    }

    .vs-text {
        font-size: 1.2rem;
        font-weight: bold;
        color: #ff5733;
    }

    #info {
        font-weight: bold;
        font-size: 1.5rem;
    }
</style>