{% load static %}

<div class="d-flex justify-content-center">
    <h2 class="little-title-card">Register</h2>
  </div>

<div class="d-flex justify-content-center">
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if success_message %}
    <p style="color: green;">{{ success_message }}</p>
    {% endif %}
</div>

<div class="d-flex justify-content-center">
    <form id="register-form" action="/ssr/view/register/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" minlength="5" maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="5" maxlength="32" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" minlength="5" maxlength="32" required>
        </div>
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login" class="link">Login here</a>.</p>
    </form>
</div>
