{% load static %}

<div class="d-flex justify-content-center">
    <h2 class="title-card">Scoreboard</h2>
</div>

<div class="d-flex justify-content-center">
    <table>
        <thead>
            <tr>
                <th class="text-center align-middle">Username</th>
                <th class="text-center align-middle">Elo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                {% if forloop.counter == 1 %}
                    {% if user == request.user %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-red" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');"><b>{{ user.username }}</b></a>
                            <img src="{% static 'assets/gold_crown.png' %}" alt="Gold Crown" style="width: 50px; height: 50px;">
                        </td>
                    {% else %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-white" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');">{{ user.username }}</a>
                            <img src="{% static 'assets/gold_crown.png' %}" alt="Gold Crown" style="width: 50px; height: 50px;">
                        </td>    
                    {% endif %}
                {% elif forloop.counter == 2 %}
                    {% if user == request.user %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-red" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');"><b>{{ user.username }}</b></a>
                            <img src="{% static 'assets/argent_crown.png' %}" alt="Argent Crown" style="width: 50px; height: 50px;">
                        </td>    
                    {% else %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-white" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');">{{ user.username }}</a>
                            <img src="{% static 'assets/argent_crown.png' %}" alt="Argent Crown" style="width: 50px; height: 50px;">
                        </td>    
                    {% endif %}
                {% elif forloop.counter == 3 %}
                    {% if user == request.user %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-red" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');"><b>{{ user.username }}</b></a>
                            <img src="{% static 'assets/bronze_crown.png' %}" alt="Bronze Crown" style="width: 50px; height: 50px;">
                        </td>    
                    {% else %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-white" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');">{{ user.username }}</a>
                            <img src="{% static 'assets/bronze_crown.png' %}" alt="Bronze Crown" style="width: 50px; height: 50px;">
                        </td>    
                    {% endif %}
                {% else %}
                    {% if user == request.user %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-red" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');"><b>{{ user.username }}</b></a>
                        </td>    
                    {% else %}
                        <td class="align-middle">
                            <img src="{{ user.avatar.url }}" alt="avatar" width="50px" height="50px">
                            <a class="text-white" href="/profile?profile={{ user.username }}" onclick="loadContent(event, 'profile?profile={{ user.username }}');">{{ user.username }}</a>
                        </td>    
                    {% endif %}
                {% endif %}
                <td class="align-middle">
                    {{ user.elo }}<img src="{% static 'assets/elo.png' %}" alt="Elo" style="width: 35px; height: 35px;">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No users found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
