<div class="d-flex justify-content-center">
    <h2 class="little-title-card">Settings<a href="/profile" onclick="loadContent('profile')" class="ml-3">X</a></h2>
</div>

<div class="d-flex justify-content-center">
    {% if error_message %}
        <p style="color: red;" class="text-center">{{ error_message }}</p>
    {% endif %}

    {% if success_message %}
        <p style="color: green;" class="text-center">{{ success_message }}</p>
    {% endif %}
</div>

<div class="d-flex justify-content-center m-3">
    <form action="/ssr/settings/" method="post" class="form-card">
        {% csrf_token %}
        <label for="username">Change Username:</label>
        <input class="form-input" type="hidden" name="action" value="username">
        <input class="form-input" type="text" id="username" name="value" value="{{ user.username }}" minlength="5" maxlength="20" required>
        <button type="submit" class="btn-submit">Change Username</button>
    </form>
</div>

<div class="d-flex justify-content-center m-3">
    <form action="/ssr/settings/" method="post" enctype="multipart/form-data" class="form-card">
        {% csrf_token %}
        <input class="form-input" type="hidden" name="action" value="avatar">
        <label for="avatar">Change Avatar:</label>
        <img src="{{ user.avatar.url }}" alt="User Avatar" width="50" height="50">
        <input class="form-input" type="file" id="avatar" name="avatar" required>
        <button type="submit" class="btn-submit">Change Avatar</button>
    </form>
</div>

<div class="d-flex justify-content-center m-3">
    <form action="/ssr/settings/" method="post" class="form-card">
        {% csrf_token %}
        <label for="email">Change Email:</label>
        <input class="form-input" type="hidden" name="action" value="email">
        <input class="form-input" type="email" id="email" name="value" value="{{ user.email }}" required>
        <button type="submit" class="btn-submit">Change Email</button>
    </form>
</div>

<div class="d-flex justify-content-center m-3">
    <form action="/ssr/settings/" method="post" class="form-card">
        {% csrf_token %}
        <label for="language">Select Language:</label>
        <input class="form-input" type="hidden" name="action" value="language">
        <select id="language" name="value" required>
            <option value="EN" {% if user.language == "EN" %}selected{% endif %}>English (EN)</option>
            <option value="FR" {% if user.language == "FR" %}selected{% endif %}>French (FR)</option>
            <option value="DE" {% if user.language == "DE" %}selected{% endif %}>German (DE)</option>
        </select>
        <button type="submit" class="btn-submit">Change Language</button>
    </form>
</div>
