<div class="vs-card title-card d-flex align-items-center justify-content-center mb-3 p-2" id="game-header">
    <div class="player-info d-flex align-items-center">
        <img src="{{ matchs.user1.avatar.url }}" class="avatar mr-2" alt="avatar-player1" id="player1-image">
        <span class="player-name" id="player1-name">{{ matchs.user1.username }}</span>
    </div>
    <div class="vs-text mx-4">VS</div>
    <div class="player-info d-flex align-items-center">
        <span class="player-name" id="player2-name">{{ matchs.user2.username }}</span>
        <img src="{{ matchs.user2.avatar.url }}" class="avatar ml-2" alt="avatar-player2" id="player2-image">
    </div>
</div>

<div class="position-relative mx-auto" id="game">
    <canvas id="game-canvas"></canvas>
	<div class ="scoreboard" id="scoreboard">
		<div class="d-flex justify-content-center">
			<h2 class="title-card">Scoreboard Tournament</h2>
		</div>
	
		<div class="d-flex justify-content-center">
			<table>
				<thead>
					<tr>
						<th class="text-center align-middle">Username</th>
						<th class="text-center align-middle">Wins</th>
					</tr>
				</thead>
				<tbody id="scoreboard-rows">
				</tbody>
			</table>
		</div>
	</div>
	<div class="announcements" id="announcements_div">
	</div>
    <div id="ball"></div>
    <div id="paddle1" class="paddle"></div>
    <div id="paddle2" class="paddle"></div>
    <div id="countdown"></div>
    <div id="score-1">0</div>
    <div id="score-2">0</div>
</div>

<p id="info" class="text-center mt-5"></p>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
    #game-canvas {
        background-color: #141414;
        border: 2px solid #fff;
    }
	#game-canvas, #game, .announcements, .scoreboard{
		width: 600px; 
		height: 400px;
	}

	#game {
		visibility: hidden;
	}
	#game-header {
		visibility: hidden;
		max-width: 600px;
	}

    .paddle {
        width: 10px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        top: 160px;
    }

    #paddle1 {
        left: 30px;
    }

    #paddle2 {
        right: 30px;
    }

    #ball {
        width: 10px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        right: 295px;
        top: 195px;
    }

    #countdown {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        font-size: 24px;
        color: yellow;
        font-weight: bold;
    }

    #score-1, #score-2 {
        position: absolute;
        top: 10px;
        font-size: 24px;
        color: yellow;
        font-weight: bold;
    }

    #score-1 {
        left: 10px;
    }

    #score-2 {
        right: 10px;
    }


    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #fff;
		animation: pop 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    }
    .scoreboard-avatar {
        width: 40px;
        height: 40px;
    }

    .player-info {
        display: flex;
        align-items: center;
    }

    .player-name {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c7c7c7;
		animation: pop 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    }

    .vs-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff5733;
    }


	.announcement_name{
		font-family: 'Bangers', sans-serif;
		font-size: 50px;
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 5px;
		animation: slide-in-top 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
		position: relative;
	}
	.announcement_VS{
		font-family: 'Bangers', sans-serif;
		font-size: 120px;
		color: #ff0000;
		text-transform: uppercase;
		letter-spacing: 5px;
		animation: slide-in 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
		font-style: italic;
		position: relative;
	}
	.announcement_victory{
		font-family: 'Bangers', sans-serif;
		font-size: 110px;
		color: #ffd000;
		text-transform: uppercase;
		letter-spacing: 5px;
		animation: slide-in 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
		font-style: italic;
		position: relative;
	}
	.announcements, .scoreboard{
        position: absolute;
		left:0%;
		top:0%;
		overflow: hidden;
	}
	.announcements{
		display: flex;
		flex-direction: column;
		flex-wrap: true;
		visibility: visible;
		z-index: 2;
		text-align: center;
	}
	.scoreboard {
		visibility: hidden;
		z-index: 3;
		animation: pop 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
	}

	@keyframes slide-in {
	from {
		transform: translateX(-100%);
		opacity: 0;
		text-shadow: none;
	}
	to {
		transform: translateX(0);
		opacity: 1;
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	}
	}
	@keyframes slide-in-top {
	from {
		transform: translateY(-100%);
		opacity: 0;
		text-shadow: none;
	}
	to {
		transform: translateY(0);
		opacity: 1;
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	}
	}
	@keyframes pop {
		0% {
			opacity: 0;
			scale: 0.8;
		}
		25% {
			scale: 0.7;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}

</style>